header{
    height: 10vh;
}

header > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > nav > ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}

header > nav > ul,
header > nav > div{
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

header > nav > div{
    display: flex;
    gap: 5rem;
}