header{
    height: 10vh;
}

header > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > nav > ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}