:root{

  --text-color : #62564f;
}

*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

button{
  background-color: transparent;
  border: none;
}

body{
  color: var(--text-color);
  background-color: black;
}

button:hover{
  cursor: pointer;
}